PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin

# ZFS snapshots
*/15 * * * * root zfsnap.sh snapshot -rsSvz -p 15min-   -a 3d      {{ snapshot_filesystems }} > /dev/null 2>&1
@daily       root zfsnap.sh snapshot -rsSvz -p daily-   -a 3w      {{ snapshot_filesystems }} > /dev/null 2>&1
@weekly      root zfsnap.sh snapshot -rsSvz -p weekly-  -a 3m      {{ snapshot_filesystems }} > /dev/null 2>&1
@reboot      root zfsnap.sh snapshot -rsSvz -p reboot-  -a 3m      {{ snapshot_filesystems }} > /dev/null 2>&1
@monthly     root zfsnap.sh snapshot -rsSvz -p monthly- -a forever {{ snapshot_filesystems }} > /dev/null 2>&1

#-------------------------

# ZFS cleanup snapshots
@daily       root zfsnap.sh destroy -rsSv -F 2d -p 15min-             {{ snapshot_filesystems }} > /dev/null 2>&1
@daily       root zfsnap.sh destroy -rsSv -F 2w -p daily-             {{ snapshot_filesystems }} > /dev/null 2>&1
@daily       root zfsnap.sh destroy -rsSv -F 2m -p weekly- -p reboot- {{ snapshot_filesystems }} > /dev/null 2>&1
@daily       root zfsnap.sh destroy -rsSv -F 6m -p monthly-           {{ snapshot_filesystems }} > /dev/null 2>&1
{{ backup_disabled }}@daily       root zfsnap.sh destroy -rsSv       -p 15min- -p daily- -p weekly- -p reboot- {{ cleanup_filesystems }}

#-------------------------

# ZFS sync & check snapshots
{{ (05 + backup_sync_offset)|int }} * * * *   root /usr/local/sbin/zfs-syncoid.py 2>&1 | grep -v "cannot create bookmark .* bookmark exists" | grep -v "Cannot sync now: .* is already target of a zfs receive process."

@daily       root zfs-verify.py

#-------------------------

# cleanup old backup files
@daily       root find /backups/dump/* -mtime +30 -type f -delete
