---
# tasks file for postfix

- name: Ensure postfix is installed
  package:
    name: postfix
    state: present

- name: Copy main.cf file to /etc/postfix
  template:
    src: main.cf.j2
    dest: /etc/postfix/main.cf
    mode: 0644
    backup: yes
  notify:
    - restart postfix

- name: Copy /root/.forward file
  copy:
    src: root/
    dest: /root/
    mode: 0644
    force: no       # do not overwrite existing file

- name: Ensure postfix is started and enabled at boot.
  service:
    name: postfix
    state: started
    enabled: yes
...
