---
# tasks file for proxmox

- name: Install packages
  apt:
    pkg:
    - nfs-kernel-server

- name: Copy zfs-snapshots file to /etc/cron.d
  template:
    src: zfs-snapshots.j2
    dest: /etc/cron.d/zfs-snapshots
    mode: 0644

- name: Copy /usr/local/sbin files
  copy:
    src: "{{ item }}"
    dest: /usr/local/sbin/
    owner: root
    group: staff
    mode: 0755
    follow: no       # overwrite existing links with files
  loop:
    - ~/src/github.com/tomhoover/simplesnap/simplesnap
    - ~/src/github.com/tomhoover/simplesnap/simplesnapwrap
    - ~/src/github.com/zfsnap/zfsnap/sbin/zfsnap.sh

- name: Copy /usr/local/share files
  copy:
    src: ~/src/github.com/zfsnap/zfsnap/share/
    dest: /usr/local/share/
    owner: root
    group: staff

- name: Limit zed's syslog chattiness
  lineinfile:
    path: /etc/zfs/zed.d/zed.rc
    regexp: '^ZED_SYSLOG_SUBCLASS_EXCLUDE=.*'
    line: 'ZED_SYSLOG_SUBCLASS_EXCLUDE="history_event"'
    backup: yes

- name: Reduce default swappiness from 60 to 10
  lineinfile:
    path: /etc/sysctl.conf
    regexp: '^vm.swappiness =.*'
    line: 'vm.swappiness = 10'
    backup: yes
  notify:
    - reduce swappiness
...
