---
# tasks file for common

- name: Only run "update_cache=yes" if the last one is more than 86400 seconds (24 hrs) ago
  apt:
    update_cache: yes
    cache_valid_time: 86400

- name: Install packages
  apt:
    pkg:
    - etckeeper
    - mc

- name: Remove useless packages from the cache
  apt:
    autoclean: yes

- name: Remove dependencies that are no longer required
  apt:
    autoremove: yes
...
